a{
    text-decoration: none;
}
li{
    line-height: 2;
    font-size: 18px;
}

input[type=text]{
    width: 70%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
}

textarea{
    width: 70%;
    height: 350px;
    resize: none;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 15px;
}

